<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579984809267-03l71j1ejrn1mammf3pnd5q40c7cdf40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579984809267-03l71j1ejrn1mammf3pnd5q40c7cdf40</string>
	<key>API_KEY</key>
	<string>AIzaSyBwnvmOiPn0E5-1I4tk8PDWHwbSu_P4hiE</string>
	<key>GCM_SENDER_ID</key>
	<string>579984809267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akashsoam.amazon</string>
	<key>PROJECT_ID</key>
	<string>flipazon1</string>
	<key>STORAGE_BUCKET</key>
	<string>flipazon1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579984809267:ios:fbc9589b077070380df246</string>
</dict>
</plist>